<main>
    <%- include('layouts/nav') %>

<!-- profil  -->
<section class="container" id="home">
    <div class="text-center py-4">
        <h1 class="font-estetik my-4" style="font-size: 2.2rem">Undangan Sempro WAL</h1>
        <div class="py-4">
            <div class="cropper border border-3 border-light shadow mx-auto">
                <img src="images/diki.jpg" alt="bg" />
            </div>
        </div>
        <h1 class="font-estetik my-4" style="font-size: 3rem">WAL</h1>
        <h4>Selasa, 20 Juni 2023</h4>
        <a
            class="btn btn-outline-light btn-sm shadow rounded-pill px-3 my-1"
            target="_blank"
            href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=The%20Sempro%20of%20Wal&details=The%20Sempro%20of%20Wal%2020%20Juni%202023&dates=20230620T100000/20230620T110000&location=https://goo.gl/maps/XBWkhqmVJGqKCgot6"
        >
            <i class="fa-solid fa-calendar-check me-2"></i>Save The Date
        </a>
    </div>
</section>

<!-- grafis  -->
  
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
        fill="#111111"
        fill-opacity="1"
        d="M0,160L48,144C96,128,192,96,288,106.7C384,117,480,171,576,165.3C672,160,768,96,864,96C960,96,1056,160,1152,154.7C1248,149,1344,75,1392,37.3L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
</svg>


<!--  salam dan foto -->
<section style="background-color: #111111 !important; margin-top: -5px; margin-bottom: -5px" id="mempelai">
    <div class="text-center">
        <h1 class="font-estetik py-4 px-2">Assalamualaikum Warahmatullahi Wabarakatuh</h1>

        <p class="pb-3 px-3">
            Tanpa mengurangi rasa hormat. Saya mengundang anda untuk menghadiri sempro saya:
        </p>

        <div class="overflow-x-hidden">
            <div>
                <div class="cropper border border-3 border-light shadow my-4 mx-auto">
                    <img src="images/diki.jpg" alt="bg" />
                </div>
                <h1 class="font-estetik" style="font-size: 3rem">wal</h1>
            </div>
        </div>
    </div>
</section>

<!-- waktu -->
<section style="background-color: #111111 !important; margin-top: -5px; margin-bottom: -5px" id="tanggal">
    <div class="container">
        <div class="text-center">
            <h1 class="font-estetik py-3" style="font-size: 2rem">Waktu Menuju Acara</h1>
            <div class="border rounded-pill shadow py-2 px-4 mx-2 mb-4">
                <div
                    class="row justify-content-center"
                    data-waktu="2024-01-01 00:00:00"
                    id="tampilan-waktu"
                >
                    <div class="col-3 p-1">
                        <h2 class="d-inline m-0 p-0" id="hari">0</h2>
                        <small class="ms-1 me-0 my-0 p-0 d-inline">Hari</small>
                    </div>
                    <div class="col-3 p-1">
                        <h2 class="d-inline m-0 p-0" id="jam">0</h2>
                        <small class="ms-1 me-0 my-0 p-0 d-inline">Jam</small>
                    </div>
                    <div class="col-3 p-1">
                        <h2 class="d-inline m-0 p-0" id="menit">0</h2>
                        <small class="ms-1 me-0 my-0 p-0 d-inline">Menit</small>
                    </div>
                    <div class="col-3 p-1">
                        <h2 class="d-inline m-0 p-0" id="detik">0</h2>
                        <small class="ms-1 me-0 my-0 p-0 d-inline">Detik</small>
                    </div>
                </div>
            </div>

            <p style="font-size: 0.9rem" class="mt-4 py-2">
                Dengan memohon rahmat dan ridho Allah Subhanahu Wa Ta'ala, insyaAllah kami akan
                menyelenggarakan acara :
            </p>

            <div class="overflow-x-hidden">
                <div class="py-2" >
                    <h1 class="font-estetik" style="font-size: 2rem">Acara</h1>
                    <p>Pukul 10.00 WIB - Selesai</p>
                </div>
            </div>

            <div class="py-2" >
                <a
                    href="https://goo.gl/maps/XBWkhqmVJGqKCgot6"
                    target="_blank"
                    class="btn btn-outline-light btn-sm rounded-pill shadow-sm mb-2 px-3"
                >
                    <i class="fa-solid fa-map-location-dot me-2"></i>Lihat Google Maps
                </a>
                <p class="mb-0 mt-1 mx-1 pb-4" style="font-size: 0.9rem">Unimed</p>
            </div>
        </div>
    </div>
    
</section>

<!-- grafis -->
<!-- komentar -->

<!-- penutupan -->
<div style="background-color: #111111  !important; margin-top: -5px; padding-bottom: 4rem ">
    <div class="container">
        <div class="text-center">
            <p style="font-size: 0.9rem" class="pt-2 pb-1 px-2" >
                Merupakan suatu kehormatan dan kebahagiaan bagi saya apabila,anda berkenan hadir,saya
                ucapkan terimakasih.
            </p>
            <h1 class="font-estetik" >
                Wassalamualaikum Warahmatullahi Wabarakatuh
            </h1>
            <hr class="mt-3 mb-2" />
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <small class="text-light"> Build with<i class="fa-solid fa-heart mx-1"></i>Diwa </small>
                </div>
            </div>
        </div>
    </div>
</div>
<audio src="music/sound2.mp3" autoplay loop></audio>

</main>